<div class="panel-details">
    <h3>Panel Details</h3>
    <table>
      <thead>
        <tr>
          <th>Parameters</th>
          <th>R Phase</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Voltage Status</td>
          <td>{{ panelData?.r_volt_status }}</td>
        </tr>
        <tr>
          <td>MCB Status</td>
          <td>{{ panelData?.r_mcb_status }}</td>
        </tr>
        <tr>
          <td>Load Status</td>
          <td>{{ panelData?.r_load_status }}</td>
        </tr>
        <tr>
          <td>PF Status</td>
          <td>{{ panelData?.r_pf_status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  