#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Add this line to ensure the map takes full width */
    height: 100%; /* Add this line to ensure the map takes full height */
  }
  
  
  
  
  